$primary-text-color: #b6b6b6;
$secondary-text-color: #ececec;

$bg-primary: #23232e;
$bg-secondary: #141418;

$main-color: #98ACF3;
$secondary-color: #b2bff0;
$ic-color: #98ACF3;
$ic-color-secondary: #b2bff0;

$transition-speed: 600ms;