<div class="container py-5">
    <div class="card-block px-5">
        <div class="d-flex justify-content-between">
            <h2 class="title">
                {{'Clients' | uppercase}}
            </h2>
            <button class="button main-button" type="button" (click)="openCreateModal()">
                NEW CLIENT
            </button>
        </div>
    </div>
    
    <form class="card-block px-5 mt-5" #searchForm="ngForm" (ngSubmit)="applyFilters()">
        <div class="row">
            <div class="col-xs-12 col-lg-7">
                <div class="form-group">
                    <label for="searchExpression">Search</label>
                    <input type="text" name="searchExpression" class="form-control" placeholder="Search..." [(ngModel)]="searchModel.searchExpression">
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-1">
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4">
                <div class="d-flex justify-content-end align-items-center h-100">
                    <div class="pr-2">
                        <button type="button" (click)="clearFilters()" class="button secondary-button">
                            CLEAR
                        </button>
                    </div>
                    <div class="pl-2">
                        <button type="submit" class="button main-button">
                            SEARCH
                        </button>
                    </div>            
                </div>
            </div>
        </div>

        <!-- <div class="d-flex justify-content-end mt-2">
            <div class="pr-2">
                <button type="button" class="button secondary-button">
                    CLEAR
                </button>
            </div>
            <div class="pl-2">
                <button type="submit" class="button main-button">
                    SEARCH
                </button>
            </div>            
        </div> -->
    </form>

    <div class="px-5 py-3">
        <div *ngIf="clients && clients.length > 0">
            <div class="table-responsive">
                <table class="table custom-table">
                    <thead>
                        <tr>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Email</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let client of clients; index as i">
                        
                            <td>
                                {{ client.firstName }}
                            </td>
                            <td>
                                {{ client.lastName }}
                            </td>
                            <td>
                                {{ client.email }}
                            </td>
                            <td class="text-right">
                                <button type="button" (click)="openDetailsModal(client.id)" class="button main-button">
                                    DETAILS
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
    
            <mat-paginator [length]="totalItems"
                [pageSize]="searchModel.pageSize"
                [pageIndex]="searchModel.pageNumber - 1"
                (page)="pageEvent($event)"
                [pageSizeOptions]="pageSizeOptions">
            </mat-paginator>
        </div>

        <div *ngIf="!clients || clients.length == 0" class="text-center">
            <h4>No results!</h4>
            <!-- <button class="button main-button" type="button" (click)="openCreateModal()">
                NEW CLIENT
            </button> -->
        </div>
    </div>
</div>