<div class="card">
    <div class="card-large-body px-4 py-5">
        <div class="modal-body text-center">
            <p class="header-description mb-5" [innerHTML]=message></p>

            <div class="d-flex justify-content-around mt-5">
                <button type="button" class="button secondary-button" (click)="modal.close()">Yes</button>
                <button type="button" class="button main-button" (click)="modal.dismiss()">No</button>
            </div>
            
        </div>
    </div>
  </div>
  