<nav class="custom-navbar p-0">
    <ul class="custom-navbar-nav w-100">
        <li class="logo">
            <a class="custom-nav-link" routerLink="/home">
                <span class="link-text">PersonalTrainer</span>
                <i class="fas fa-angle-double-right fa-2x"></i>
            </a>
        </li>
  
        <li class="custom-nav-item">
            <a class="custom-nav-link" routerLinkActive="active" routerLink="/home">
                <i class="fas fa-home fa-2x"></i>
                <span class="link-text">HOME</span>
            </a>
        </li>
  
        <li class="custom-nav-item">
            <a class="custom-nav-link" routerLinkActive="active" routerLink="/clients">
                <i class="fas fa-users fa-2x"></i>
                <span class="link-text">CLIENTS</span>
            </a>
        </li>

        <li class="custom-nav-item">
            <a class="custom-nav-link" routerLinkActive="active" routerLink="/plans">
                <i class="fas fa-calendar fa-2x"></i>
                <span class="link-text">PLANS</span>
            </a>
        </li>

        <li class="custom-nav-item">
            <a class="custom-nav-link" routerLinkActive="active" routerLink="/workouts">
                <i class="fas fa-calendar-day fa-2x"></i>
                <span class="link-text">WORKOUTS</span>
            </a>
        </li>
  
        <li class="custom-nav-item">
            <a class="custom-nav-link" routerLinkActive="active" routerLink="/exercises">
                <i class="fas fa-dumbbell fa-2x"></i>
                <span class="link-text">EXERCISES</span>
            </a>
        </li>
  
        <li class="custom-nav-item">
            <a class="custom-nav-link" routerLinkActive="active" routerLink="/messages">
                <i class="fa fa-envelope fa-2x"></i>
                <span class="link-text">MESSAGES</span>
            </a>
        </li>

        <li class="custom-nav-item"(click) = "signOut()">
            <a class="custom-nav-link">
                <i class="fas fa-sign-out-alt fa-2x"></i>
                <span class="link-text">SIGN OUT</span>
            </a>
        </li>
    </ul>
</nav>