<div class="">
    <label for="title" class="bold">Title</label>
    <p>{{workout.title}}</p>

    <label for="description" class="bold">Description</label>
    <p>{{workout.description}}</p>

    <label for="exercises" class="bold">Exercises</label>
    <div *ngFor="let workoutExercise of workout.exercises" class="exercise-holder my-3 p-3">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-4">
                <video [src]="workoutExercise.exercise.videoURL" width="100%" controls></video>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-8">
                <label for="title" class="bold">Title</label>
                <p>{{workoutExercise.exercise.title}}</p>
                <label for="description" class="bold">Description</label>
                <p>{{workoutExercise.exercise.description}}</p>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-xs-12 col-md-4">
                <label for="title" class="bold">Quantity</label>
                <p>{{workoutExercise.quantity}}</p>
            </div>
            <div class="col-xs-12 col-md-4">
                <label for="title" class="bold">Range from</label>
                <p>{{workoutExercise.minRep}}</p>
            </div>
            <div class="col-xs-12 col-md-4">
                <label for="title" class="bold">Range to</label>
                <p>{{workoutExercise.maxRep}}</p>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-xs-12 col-md-12">
                <label for="title" class="bold">Observations</label>
                <p>{{workoutExercise.observations}}</p>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-end mt-5">
        <div class="pr-2">
            <button type="button" (click)="previousStep()" class="button secondary-button">
                BACK
            </button>
        </div>

        <div class="pl-2">
            <button type="button" (click)="save()" class="button main-button">
                SAVE
            </button>
        </div>
    </div>
</div>