<div class="card" style="overflow-y: auto;">
    <div class="card-large-body px-3 py-3">
        <div class="modal-header border-0">
            <h2 class="title">
                {{ 'Plan Details' | uppercase }}
            </h2>
            <a class="cursor-pointer float-right title" (click)="activeModal.close()">
                <i class="fas fa-times fa-2x"></i>
            </a>           
        </div>
        <div class="modal-body">
            <label for="title" class="bold">Title</label>
            <p>{{plan.title}}</p>

            <label for="description" class="bold">Description</label>
            <p>{{plan.description}}</p>

            <div class="d-flex justify-content-end mt-5">
                <div class="pr-2">
                    <button type="button" (click)="confirmDelete()" class="button secondary-button">
                        DELETE
                    </button>
                </div>
        
                <div class="pl-2">
                    <button type="button" (click)="updateClient()" class="button main-button">
                        EDIT
                    </button>
                </div>
            </div>
            
        </div>        
    </div>
</div>