/* Importing Toastr SCSS file. */
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~ngx-toastr/toastr-bs4-alert';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import "assets/scss/animations.scss";
@import "assets/scss/variables.scss";

/* You can add global styles to this file, and also import other style files */
:root {
    font-size: 16px;
    font-family: 'Open Sans';
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body{
    color: black;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar{
    width: 0.25rem;
}

body::-webkit-scrollbar-track{
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb{
    background: $ic-color;
}

.cursor-pointer{
    cursor: pointer;
}

.title{
    color: $main-color;
}

.button{
    border: none;
    border-radius: 40px;
    padding: 0.8rem;
    padding-left: 4rem;
    padding-right: 4rem;
}

.secondary-button{
    background-color: $secondary-color;
    color: $main-color;
}

.main-button{
    background-color: $main-color;
    color: white;
}

.custom-select.is-invalid,
.form-control.is-invalid,
.select-filter.is-invalid > .ng-select-container,
.was-validated .custom-select:invalid,
.was-validated .form-control:invalid,
.quiz-button.is-invalid,
.select-filter:invalid > .ng-select-container {
  border-color: #cc1d1d !important;
}

.custom-table{
    thead{
        background-color: $secondary-color;
        color: $main-color;
        font-weight: normal;
    }
}
